body {
	margin: 0;
	background-color: black;
}
#Fps
{
	position: absolute;
	top: 10px;
	left: 10px;
	color: #f00;
}

#Drops
{
	position: absolute;
	top: 30px;
	left: 10px;
	color: #f00;
}